header {
    background-color: ;
}

container {
    display:flex;
    align-items:center;
    justify-content:center;
    background:#eee;
    padding:3rem 2rem;
    margin:2em 0;}

footer {
    background-color: #383232;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.3rem;
}

body {
    background-color: #dfc95a;
}